<h1>LongestWord#score</h1>
<p>Find me in app/views/longest_word/score.html.erb</p>

<h1>Your word:</h1>
<p><%= @attempt %></p>

<h1>Elapsed Time:</h1>
<p><%= @results[:time] %></p>

<h1>Translation:</h1>
<p><%= @results[:translation] %></p>

<h1>Your score:</h1>
<p><%= @results[:score] %></p>

<h1><%= @results[:message] %></h1>

<!-- # puts "Your word: #{attempt}"
# puts "Time Taken to answer: #{result[:time]}"
# puts "Translation: #{result[:translation]}"
# puts "Your score: #{result[:score]}"
# puts "Message: #{result[:message]}" -->
